body {
    text-align: center;
    background-color: rgb(240, 101, 101) ; 
}
  
h1 {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
img {
    height: 200px;
    width: 350px;
    border-radius: 30px;
}
.ImageClass {
    border: 2px solid #ffffff;
    width: 350px;
    border-radius: 30px;
}
   
.height {
    height: 10px;
}
  
#Image {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
   
#Image div {
    margin: 10px 10px 4px 4px;
    padding: 0.4em;
    display: inline-block;

}
   
